<div class="mainpage">
    <div class="mainHead">
        <h1>INVOICE</h1>
        <button type="button" class="btn btn-primary" onclick="createInvoiceOn()">Create Invoice
        </button>
    </div>

    <!-- mainbody -->
    <div class="mainbody">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SL.NO</th>
                    <th scope="col">CUSTOMER NAME</th>
                    <th scope="col">BILL NUMBER</th>
                    <th scope="col">P.O NUMBER</th>
                    <th scope="col">TOTAL ITEMS</th>
                    <th scope="col">DATE</th>
                    <th scope="col">TOTAL AMOUNT</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="invoiceTBody" id="invoiceTBody">
                <!-- <tr>
                    <th scope="row">#1</th>
                    <td>Mark</td>
                    <td>24</td>
                    <td>24-12-2023</td>
                    <td>33.00</td>
                    <td class="tdDropdown">
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="material-symbols-outlined">more_horiz</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#previwestaticBackdrop"><span
                                            class="material-symbols-outlined">visibility</span>Preview</a>
                                </li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#editstaticBackdrop"><span
                                            class="material-symbols-outlined">edit</span>Edit</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#deletestaticBackdrop"><span
                                            class="material-symbols-outlined">delete</span>Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr> 
                <tr>
                    <th scope="row">#5</th>
                    <td>Jacob</td>
                    <td>24</td>
                    <td>24-12-2023</td>
                    <td>33.00</td>
                    <td class="tdDropdown">
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="material-symbols-outlined">more_horiz</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#previwestaticBackdrop"><span
                                            class="material-symbols-outlined">visibility</span>Preview</a>
                                </li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#editstaticBackdrop"><span
                                            class="material-symbols-outlined">edit</span>Edit</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#deletestaticBackdrop"><span
                                            class="material-symbols-outlined">delete</span>Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <!-- mainbody end -->
</div>