<div class="sidebar">
    <div class="sidehead">
        <h1>INVOICE</h1>
    </div>
    <div class="sideNavbar_top">
        <ul>
            <li><a href="/"><span class="material-symbols-outlined">home</span>Home</a></li>
            <li><a href="/product"><span class="material-symbols-outlined">inventory</span>Products</a></li>
            <li><a href="#"><span class="material-symbols-outlined">folder_copy</span>My Invoice</a></li>
            <li><a href="/customer"><span class="material-symbols-outlined">person</span>customers</a></li>
        </ul>
    </div>
    <!-- <div class="sidedropdown">
        <div class="dropdownMenu">
            <select class="sidedrop">
                <option selected>Create New</option>
                <option>INVOICE</option>
                <option>DELIVERY NOTE</option>
                <option>QUOTATION</option>
            </select>
            <div class="drop_icon">
                <span class="material-symbols-outlined">add</span>
            </div>
        </div>
    </div> -->
    <div class="sideNavbar_bottom">
        <ul>
            <li><a href="#"><span class="material-symbols-outlined">settings</span>settings</a></li>
            <li><a href="#"><span class="material-symbols-outlined">logout</span>Log Out</a></li>
        </ul>
    </div>
</div>